/* General Body Styling */
body {
  font-family: cursive;
  background: #002412;
  background: linear-gradient(
    90deg,
    rgba(0, 36, 18, 1) 0%,
    rgba(139, 131, 161, 0.7345063025210083) 35%,
    rgba(150, 161, 131, 1) 100%
  );
  margin: 0;
  padding: 0;
}
.hidden {
  display: none;
}
.bg-body-tertiary {
  background: #002412;
  background: linear-gradient(
    90deg,
    rgba(0, 36, 18, 1) 0%,
    rgba(139, 131, 161, 0.7345063025210083) 35%,
    rgba(150, 161, 131, 1) 100%
  );
}
/* Header Styling */
h1.heading {
  background-color: #0e2954;
  height: 6rem;
  margin: 0px;
  margin-top: 40px;
  color: #e9ecef;
  text-align: center;
  font-size: 4rem;
  background: rgb(4, 36, 0);
  background: radial-gradient(circle, rgba(4, 36, 0, 0.6280637254901961) 0%, rgba(0, 0, 36, 1) 100%);
}

/* Games Container Styling */
#games_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

/* Mobile-First Adjustments */

/* Image Carousel Styling */
.image-carousel {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carousel-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Fit image within container */
}

.carousel-image.active {
  display: block;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Screenshots */
.screenshots img {
  border-radius: 5px;
}

.filter-section-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cssBtn {
  background-color: #e9ecef; /*  background */
  border: none; /* Remove border */
  color: linear-gradient(
    90deg,
    rgba(0, 36, 18, 1) 0%,
    rgba(139, 131, 161, 0.7345063025210083) 35%,
    rgba(150, 161, 131, 1) 100%
  ); /* White text */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make it inline-block */
  font-size: 16px; /* Adjust font size */
  font-family: cursive;
  margin: 4px 2px; /*Add some margin */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
}

/* Add hover effect */
.cssBtn:hover {
  background-color: #7bcf7f; /* Darker green on hover */
}
/* Add hover effect */
.add_to_list_btn:hover {
  background-color: #7bcf7f; /* Darker green on hover */
}

.btn {
  border: none; /* Remove border */
  padding: 0px;
  border-radius: 5px;
}

.add_to_list_btn {
  background-color: #e9ecef;
}

.delete_from_list_btn {
  background-color: #e9ecef;
}
.delete_from_list_btn:hover {
  background-color: #7bcf7f; /* Darker green on hover */
}
